/* Chapter 43 - 48 */


/* 1 */


/* .mobile-images {
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 200px;
} */


/* 3 */


/* img {
    width: 300px
} */


/* Chapter 49 - 52 */


/* 1 */

.hidden {
    display: none;
}